
/* Color palette */
/* 1 is darker, 4 is lighter */

:root {
  --palette1-color1: #1e201e;
  --palette1-color2: #3c3d37;
  --palette1-color3: #697565;
  --palette1-color4: #ecdfcc;
}

html {
    background-color: var(--palette1-color1);
    background-image:
      linear-gradient(rgba(60, 61, 55, .1) 2px, transparent 2px),
      linear-gradient(90deg, rgba(60, 61, 55, .1) 2px, transparent 2px),
      linear-gradient(rgba(60, 61, 55, .1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(60, 61, 55, .1) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	font-family: "Courier New", "Courier", monospace;
	font-size: 16px;
    font-weight: normal;
	color: var(--palette1-color4);
}

body {
    margin: 0 auto;
	width: 65vw;
	height: 100%;
    /*background-image: url("images/pattern.jpg");*/
	background: var(--palette1-color1);
	padding: 0 0px 20px 0px;
}

@media (width <= 800px){

    /*settings to improve readability in thicker screen sizes*/

	body {
		background-color: blue;
	}
}

/* Header  */

h1.page-title {
	margin: 0 auto;
	font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
	color: var(--palette1-color4);
	font-size: 70px;
	padding: 0px 20px 0px 20px;
	text-align: left;
}

h1 .title-icon {
    height: 65px;
    width: auto;
    vertical-align: center;
    display: inline-block;
    margin-right: 0;
}

/* Navigation bar */

nav {
	background-color: var(--palette1-color1);	
}

.main-nav {
	list-style: none;
	/*border: 2px solid red;*/
	display: flex;
	padding: 0px 0px 0px 0px;
	/*border-top: 1px solid #ecdfcc;*/
    border-bottom: 1px solid var(--palette1-color4);
}

.main-nav li {
	font-size: inherit;
	line-height: 2;
	letter-spacing: 1px;
}

.main-nav a {
	padding: 0.5em 1.5em;
	display: block;
}

.main-nav a:link {
	color: var(--palette1-color4);
	text-decoration: none;
}

.main-nav a:visited {
	color: var(--palette1-color3);
	text-decoration: none;
}

.main-nav a:hover {
	text-decoration: none;
	color: var(--palette1-color4);
	background-color: var(--palette1-color1);
	font-weight: bold;
}

.main-nav a.active {
	background-color: var(--palette1-color4);
	color: var(--palette1-color1);
	border-radius: 5px 5px 0px 0px;
}

/* Home-page content */

article.home {
	padding-top: 30px;
}

.home-img{
    float: right;
	width: 35%;
	max-width: 500px;
	min-width: 35%;
	padding-right: 50px;
}

p.home {
	/*font-size: 14px;*/
	line-height: 2;
	letter-spacing: 1px;
	/*border: 3px solid #00ff00;*/
	margin: 0px 45% 20px 50px;
}

/* Utils for every published text */

h2 {
	text-align: left;
	font-size: 36px;
	margin-bottom: 0;
}

p.published_on {
	font-style: italic;
	margin-bottom: 1.5em;
}

p.published_on::before {
	content: "Published on "
}


h3 {
	font-size: 24px;
	margin-bottom: 0;
}

h3 + p {
	margin-top: 0.5em;
}

article.content {
	margin-top: 50px;
	margin-left: 5%;
	margin-right: 5%;
	/*border: 5px solid yellow;*/
}

.content p {
	line-height: 2;
}

.big_list li::marker {
	font-size: 24px;
}

hr {
	text-align: center;
	border: transparent;
}

hr::after {
	content: ". . .";
	line-height: 1.5em;
}

p.ps_text {
	font-style: italic;
}

ul.article_list li::marker {
    content: "- "
}

span.highlight {
	background-color: transparent; 
}

.go_back {
	background-color: var(--palette1-color4);
	color: 1px solid var(--palette1-color2);
	font-family: "Courier New", "Courier", monospace;
	border: 1px solid transparent;
	border-radius: 10px;
	padding: 1em;
}

.go_back {
	background-color: transparent;
	color: 1px solid var(--palette1-color4);
	font-family: "Courier New", "Courier", monospace;
	font-size: inherit;
	border: 1px solid var(--palette1-color4);
	border-radius: 10px;
	padding: 0.75em 1em 0.5em 1em;
	float: right;
	margin-bottom: 2em;
	margin-right: 50px;
}

.go_back:hover {
	background-color: var(--palette1-color4);
	color: var(--palette1-color2);
	font-weight: bold;
	border: 0px solid transparent;
}

/* List of articles */

.container {
    justify-content: left;
    width: 90%;
    display: grid;
    grid-template-columns: 100%;
	margin-top: 50px;
	margin-left: 5%;
	margin-right: 5%;
}

.box {
    width: inherit;
    margin: 20px 0 1em 0;
    background: transparent;
    text-decoration: none;
}

.box:link {
    text-decoration: none;
}

.box:hover {
	transform: scale(1.02);
    text-decoration: dotted;
    font-weight: normal;
}

.box img {
    float: left;
    background: blue;
	height: 100px;
	margin-right: 1em;
	border-radius: 3px;
}

.box h3 {
    margin-top: 0px;
    color: var(--palette1-color4);
}

.box p {
    color: var(--palette1-color4);
}

.divider {
	height: 1px;
	background-color: var(--palette1-color2);
	width: inherit;
}


/* Interview */

p.question, p.answer {
	/*border: 3px solid blue;*/;
	line-height: 2;
	letter-spacing: 1px;
	/*border: 3px solid #00ff00;*/
	margin: 20px 40px 0px 0px;
}

p.question {
	font-weight: bolder;
}

p.answer {
	font-weight: normal;
	margin-top: 0;
	/*width: 100%;*/
}

/* FTOWBIM */

h3.title_ftowbim {
	text-align: center;
	margin-top: 75px;
}

img.img_ftowbim {
	width: 10%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

p.random_message {
	text-align: center;
	font-style: italic;
	letter-spacing: 1.5px;
}

#spinning {
	opacity: 0;
	transition: opacity 4s ease, transform 0.8s ease;
}

#spinning.fade_in {
	opacity: 1;
}

#spinning.spin_active{
	transform: rotate(720deg);
}

/* Links  */

a:link {
	color: var(--palette1-color4);
	text-decoration: underline dotted;
}

a:visited {
	color: var(--palette1-color3);
	text-decoration: underline dotted;
}

a:hover {
	text-decoration: underline dotted;
	color: var(--palette1-color3);
	font-weight: bold;
}
